<footer style="background-color: #D2AF93;">
    <div class="row">
        <div class="col-md-4">
            
            <div >
                <div>
                    <img class="logo" [src]="image" alt="" style="width: 80px; height: 50px; border-radius: 50%;"/>
                </div>
            </div>
            <h4>Contact</h4>
            <p><strong>Address: </strong>Iset Charguia</p>
            <p><strong>Phone: </strong>+216 25 265 482</p>
            <p><strong>Hours: </strong>10:00 - 16:00, Mon - Sat</p>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-column align-items-start">
                <h4 class="mb-3">Follow Us</h4>
                <div class="icon  flex-column">
                    <a href="#" class="me-3 text-decoration-none"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="me-3 text-decoration-none"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="me-3 text-decoration-none"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="me-3 text-decoration-none"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#" class="text-decoration-none"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-column align-items-start">
                <h4 class="mb-3">About</h4>
                <a href="/accueil"><i class="fas fa-home me-1"></i>Accueil</a>
                <a href="/produit"><i class="fas fa-box me-1"></i>Produits</a>
                <a href="/about"><i class="fas fa-info-circle me-1"></i>A propos</a>
                <a href="/evenement"><i class="far fa-calendar-alt me-1"></i>Evenements</a>
                <a href="/contact"><i class="fas fa-envelope me-1"></i>Contact</a>
            </div>
        </div>
    </div>
   

</footer>








