<body>
    <div class="navbar">
        <div class="container d-flex align-items-center">
          <a class="navbar-brand me-auto">
            <img [src]="image" alt="Logo" class="img-fluid" >
        </a>
          <div>
            <ul class="d-flex">
              <li class="nav-item">
                <a class="nav-link" routerLink="/accueil" routerLinkActive="active">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active">A propos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/produit" routerLinkActive="active">Produits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/evenement" routerLinkActive="active">Evenements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/aadmin" routerLinkActive="active">Connexion</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      </body>
  
  
  
  
  