 <div class="navbar">
               <ul class="nav-links">
                 <li><a routerLink="/intadmin/membread" data-link="membres">Membres</a></li>
                 <li><a routerLink="/intadmin/eventsad" data-link="evenements">Evenements</a></li>
                 <li><a routerLink="/intadmin/changer" data-link="changer-mdp">Changer Mot De Passe</a></li>
                 <li><a routerLink="/accueil" data-link="deconnexion">Deconnexion</a></li>
               </ul>
             </div>
      <router-outlet></router-outlet>
         
      
   